@charset "UTF-8";
/*!
 * ress.css • v2.0.2
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

*, ::before, ::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before, ::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details, main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active, a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b, strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */

input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */

[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button, input, optgroup, select, textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button, select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */

button, [type="button"], [type="reset"], [type="submit"], [role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */

button:-moz-focusring, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */

select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */

img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */

progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */

/* Hide content from screens but not screenreaders */

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */

[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */

[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */

[aria-disabled] {
  cursor: default;
}

/* ------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  color: #092972;
  overflow-x: hidden;
  line-height: 2.1875;
  font-size: 16px;
  line-height: 2.1875;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', sans-serif;
}

@media screen and (max-width: 818px) {
  body {
    font-size: 4.2666666667vw;
  }
}

@media screen and (max-width: 818px) {
  body {
    width: 100%;
    min-width: 100%;
  }
}

a, input, button {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  vertical-align: middle;
}

figure {
  margin: 0;
  padding: 0;
}

input, textarea {
  outline: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

@media screen and (min-width: 819px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 818px) {
  .pc {
    display: none !important;
  }
}

.btn {
  background: linear-gradient(to right top, #2353B0, #7A129B);
}

.headTitle {
  font-family: vdl-logona, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 818px) {
  .headTitle {
    font-size: 8vw;
  }
}

@media screen and (max-width: 818px) {
  .headTitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 818px) and (max-width: 818px) {
  .headTitle {
    font-size: 5.8666666667vw;
  }
}

.headTitle-nega {
  color: #fff;
}

.plainText {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 36px;
  text-align: justify;
}

@media screen and (max-width: 818px) {
  .plainText {
    width: 100%;
  }
}

@media screen and (max-width: 818px) {
  .plainText {
    margin-top: 20px;
    width: 100%;
  }
}

.plainText-nega {
  color: #fff;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 20px;
  z-index: 9999;
}

@media screen and (max-width: 818px) {
  .header {
    display: block;
    min-width: unset;
    padding: 3.975vw;
    line-height: 0;
  }
}

.header_logo {
  display: block;
  width: 8.78vw;
  max-width: 120px;
}

.header_logo img {
  width: 100%;
}

@media screen and (max-width: 818px) {
  .header_logo {
    width: 21.33vw;
  }
  .header_logo img {
    width: 100%;
  }
}

.header_bars {
  position: fixed;
  width: 16vw;
  height: 13.33vw;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  z-index: 9999;
}

.header_bars span {
  display: block;
  width: 5.33vw;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.header_bars span:first-of-type {
  transform: translateY(-1.33vw);
}

.header_bars span:last-of-type {
  transform: translateY(1.33vw);
}

.header_bars span.show {
  transition: all 0.3s;
}

.header_bars span.show:first-of-type {
  transform: translateY(0) rotate(45deg);
}

.header_bars span.show:last-of-type {
  transform: translateY(0) rotate(-45deg);
}

.header_nav {
  display: flex;
}

@media screen and (max-width: 818px) {
  .header_nav {
    display: block;
    width: 58.7vw;
    top: 0;
    right: -60vw;
    position: fixed;
    color: #fff;
    background: linear-gradient(to right top, #2353B0, #7A129B);
    transition: all 0.3s;
  }
  .header_nav.show {
    right: 0;
    transition: all 0.3s;
  }
}

.header_nav li:not(:last-of-type) {
  border-right: 1px solid #fff;
}

@media screen and (max-width: 818px) {
  .header_nav li:not(:last-of-type) {
    border-right: none;
  }
}

.header_nav_list {
  display: block;
  padding: 0 20px;
  font-size: 13px;
  line-height: 1.5;
  color: #fff;
  transition: all 0.3s;
}

@media screen and (max-width: 818px) {
  .header_nav_list {
    font-size: 3.7333333333vw;
  }
}

@media screen and (max-width: 818px) {
  .header_nav_list {
    font-size: 12px;
    padding: 5.3vw;
    position: relative;
  }
}

@media screen and (max-width: 818px) and (max-width: 818px) {
  .header_nav_list {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 818px) {
  .header_nav_list.noBb:after {
    display: none;
  }
  .header_nav_list:after {
    position: absolute;
    content: "";
    width: 5.87vw;
    height: 1px;
    background-color: #fff;
    left: 5.3vw;
    bottom: 0;
  }
}

.header_nav_list:hover {
  transition: all 0.3s;
  transform: translateY(5px);
}

@media screen and (max-width: 818px) {
  .header_nav_list:hover {
    transform: unset;
  }
}

/* webp未対応ブラウザ用スタイル */
.mv {
  height: 60vw;
  max-height: 768px;
  background-image: url(../img/bg_grid_pc.png), url(../img/bg_gradient_pc.png);
  background-repeat: repeat, repeat-y;
  background-size: 130px, 100%;
}
/* webp対応ブラウザ用スタイル */
.mv .webp {
  height: 60vw;
  max-height: 768px;
  background-image: url(../img/bg_grid_pc.webp), url(../img/bg_gradient_pc.webp);
  background-repeat: repeat, repeat-y;
  background-size: 130px, 100%;
}

/* webp未対応ブラウザ用スタイル */
@media screen and (max-width: 818px) {
  .mv {
    background-image: url(../img/bg_grid_sp.png), url(../img/bg_gradient_sp.png);
    background-size: 18.6vw, 100%;
  }
}
/* webp対応ブラウザ用スタイル */
@media screen and (max-width: 818px) {
  .mv .webp {
    background-image: url(../img/bg_grid_sp.webp), url(../img/bg_gradient_sp.webp);
    background-size: 18.6vw, 100%;
  }
}
@media screen and (max-width: 818px) {
  .mv {
    height: unset;
    max-height: unset;
    display: flex;
    flex-flow: column;
    padding: 13.6vw 0 7.2vw 1.3vw;
    align-items: center;
    overflow-x: hidden;
  }
}

.mv_img {
  position: relative;
}

.mv_img img {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 818px) {
  .mv_img img {
    position: relative;
  }
}

.mv_img_visual {
  width: 49.56vw;
  max-width: 677px;
  top: 123px;
  mix-blend-mode: screen;
}

@media screen and (max-width: 818px) {
  .mv_img_visual {
    width: 99vw;
    height: unset;
    max-width: 787px;
    top: 13.6vw;
    position: absolute !important;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.mv_img_prof {
  width: 89.9vw;
  max-width: 1228px;
  top: 60px;
}

@media screen and (max-width: 818px) {
  .mv_img_prof {
    width: 95.2vw;
    height: unset;
    top: unset;
    max-width: unset;
    margin: unset;
  }
}

.cvBtn {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9999;
  justify-content: space-between;
  width: 26.57vw;
  max-width: 363px;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
}

.cvBtn img {
  width: 100%;
}

@media screen and (max-width: 818px) {
  .cvBtn {
    width: 100%;
    height: 16vw;
    padding: 0 5.3vw;
    max-width: unset;
  }
}

.cvBtn.isClicked {
  transition: all 0.3s;
  bottom: -100px;
}

@media screen and (max-width: 818px) {
  .cvBtn.isClicked {
    bottom: -17vw;
  }
}

.cvBtn:hover {
  transition: all 0.3s;
  transform: translateY(5px);
}

@media screen and (max-width: 818px) {
  .cvBtn:hover {
    transform: unset;
  }
}

@media screen and (max-width: 818px) {
  .cvBtn>img {
    width: 9vw;
  }
  .cvBtn span {
    font-family: vdl-logona, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 22px;
  }
}

@media screen and (max-width: 818px) and (max-width: 818px) {
  .cvBtn span {
    font-size: 5.8666666667vw;
  }
}

@media screen and (max-width: 818px) {
  .cvBtn span img {
    width: 9.3vw;
    margin-right: 3.975vw;
  }
}

.intro {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 960px;
  padding: 150px 20px 336px;
  position: relative;
}

@media screen and (max-width: 818px) {
  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 818px) {
  .intro {
    padding: 18.67vw 5.3vw;
    width: 100%;
  }
}

.intro_title {
  text-align: left;
}

@media screen and (max-width: 818px) {
  .intro_title {
    text-align: center;
  }
}

.intro_text {
  margin-left: 0;
}

.intro_image {
  position: absolute;
  width: 44.65vw;
  max-width: 610px;
  bottom: 80px;
  right: 0;
}

@media screen and (max-width: 818px) {
  .intro_image {
    position: relative;
    width: 100%;
    bottom: unset;
    margin-top: 20px;
  }
}

/* webp未対応ブラウザ用スタイル */
.feature {
  background-image: url(../img/bg_grid_pc.png), url(../img/bg_gradient_pc.png);
  background-repeat: repeat, repeat-y;
  background-size: 130px, 100%;
  padding: 150px 20px;
}
/* webp対応ブラウザ用スタイル */
.feature .webp {
  background-image: url(../img/bg_grid_pc.webp), url(../img/bg_gradient_pc.webp);
  background-repeat: repeat, repeat-y;
  background-size: 130px, 100%;
  padding: 150px 20px;
}

/* webp未対応ブラウザ用スタイル */
@media screen and (max-width: 818px) {
  .feature {
    background-image: url(../img/bg_grid_sp.png), url(../img/bg_gradient_sp.png);
    background-size: 18.6vw, 100%;
  }
}
/* webp対応ブラウザ用スタイル */
@media screen and (max-width: 818px) {
  .feature .webp {
    background-image: url(../img/bg_grid_sp.webp), url(../img/bg_gradient_sp.webp);
    background-size: 18.6vw, 100%;
  }
}

@media screen and (max-width: 818px) {
  .feature {
    padding: 18.67vw 5.3vw;
  }
}

.feature_inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 960px;
}

@media screen and (max-width: 818px) {
  .feature_inner {
    width: 100%;
  }
}

@media screen and (max-width: 818px) {
  .feature_inner {
    width: 100%;
  }
}

.feature_lists {
  margin-top: 80px;
}

@media screen and (max-width: 818px) {
  .feature_lists {
    margin-top: 10vw;
  }
}

.feature_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 818px) {
  .feature_list {
    align-items: unset;
    flex-flow: column;
    justify-content: unset;
    width: 100%;
  }
}

.feature_list.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 818px) {
  .feature_list.reverse {
    flex-direction: unset;
    align-items: unset;
    flex-flow: column;
    justify-content: unset;
  }
}

.feature_list:not(:first-of-type) {
  margin-top: 80px;
}

@media screen and (max-width: 818px) {
  .feature_list:not(:first-of-type) {
    margin-top: 10vw;
  }
}

.feature_list_text {
  width: 540px;
  color: #fff;
  display: flex;
  flex-flow: column;
}

@media screen and (max-width: 818px) {
  .feature_list_text {
    width: 78vw;
  }
  .feature_list_text.reverse {
    margin-right: 0;
    margin-left: auto;
  }
}

.feature_list_text h2 {
  font-family: vdl-logona, sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.1;
  font-size: 120px;
  line-height: 1;
}

@media screen and (max-width: 818px) {
  .feature_list_text h2 {
    font-size: 32vw;
  }
}

@media screen and (max-width: 818px) {
  .feature_list_text h2 {
    font-size: 77px;
    margin-left: -5.3vw;
  }
}

@media screen and (max-width: 818px) and (max-width: 818px) {
  .feature_list_text h2 {
    font-size: 20.5333333333vw;
  }
}

.feature_list_text h2.reverse {
  align-self: flex-end;
}

@media screen and (max-width: 818px) {
  .feature_list_text h2.reverse {
    margin-left: unset;
    margin-right: -5.3vw;
  }
}

.feature_list_text p {
  padding-left: 90px;
  margin-top: -40px;
  font-size: 14px;
  line-height: 2.1428;
}

@media screen and (max-width: 818px) {
  .feature_list_text p {
    font-size: 3.7333333333vw;
  }
}

@media screen and (max-width: 818px) {
  .feature_list_text p {
    margin-top: -5.3vw;
    padding-left: 0;
  }
}

.feature_list_text p.reverse {
  align-self: flex-start;
  padding-left: 0;
  padding-right: 90px;
}

@media screen and (max-width: 818px) {
  .feature_list_text p.reverse {
    padding-right: 0;
  }
}

.feature_list_image.first {
  width: 350px;
  margin-left: 20px;
}

@media screen and (max-width: 818px) {
  .feature_list_image.first {
    align-self: flex-end;
    margin-top: 2.65vw;
    margin-left: unset;
  }
}

.feature_list_image.second {
  width: 370px;
  margin-right: 20px;
}

@media screen and (max-width: 818px) {
  .feature_list_image.second {
    margin-top: 5.3vw;
    margin-right: unset;
  }
}

.feature_list_image.third {
  width: 367px;
  margin-left: 20px;
}

@media screen and (max-width: 818px) {
  .feature_list_image.third {
    align-self: flex-end;
    margin-top: 5.3vw;
    margin-left: unset;
  }
}

.feature_list_image.fourth {
  width: 348px;
  margin-right: 20px;
}

@media screen and (max-width: 818px) {
  .feature_list_image.fourth {
    margin-top: 5.3vw;
    margin-right: unset;
  }
}

@media screen and (max-width: 818px) {
  .feature_list_image {
    width: 64vw !important;
  }
}

.flow {
  padding: 150px 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 960px;
  text-align: center;
}

@media screen and (max-width: 818px) {
  .flow {
    width: 100%;
  }
}

@media screen and (max-width: 818px) {
  .flow {
    padding: 18.67vw 5.3vw;
    width: 100%;
    text-align: left;
  }
}

.flow_thumb {
  margin-left: auto;
  margin-right: auto;
  width: 93px;
}

@media screen and (max-width: 818px) {
  .flow_thumb {
    width: 100%;
  }
}

@media screen and (max-width: 818px) {
  .flow_thumb {
    width: 14.4vw;
    margin-left: 7.2vw;
  }
}

.flow_thumb.zero {
  width: 180px;
  margin-top: 80px;
}

@media screen and (max-width: 818px) {
  .flow_thumb.zero {
    width: 28.8vw;
    margin-top: 8vw;
    margin-left: 0;
  }
}

.flow_step {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  position: relative;
}

@media screen and (max-width: 818px) {
  .flow_step {
    padding: 2.65vw 0 5.3vw;
    display: block;
    width: 65vw;
    margin-left: auto;
    margin-right: 0;
  }
}

.flow_step:before {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "";
  width: 0;
  height: 100%;
  border-left: 2px dashed #092972;
}

@media screen and (max-width: 818px) {
  .flow_step:before {
    left: -10vw;
    right: unset;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-left-width: 1px;
  }
}

.flow_step.reverse {
  flex-direction: row-reverse;
}

.flow_step_text, .flow_step_image {
  width: 50%;
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 818px) {
  .flow_step_text, .flow_step_image {
    display: block;
  }
}

.flow_step_text {
  padding-right: 57px;
  justify-content: flex-end;
}

@media screen and (max-width: 818px) {
  .flow_step_text {
    padding-right: 0;
  }
}

.flow_step_text.reverse {
  padding-right: 0;
  padding-left: 57px;
  justify-content: flex-start;
  text-align: left;
}

@media screen and (max-width: 818px) {
  .flow_step_text.reverse {
    padding-left: 0;
  }
}

.flow_step_text div {
  width: 275px;
}

@media screen and (max-width: 818px) {
  .flow_step_text div {
    width: 65vw;
  }
}

.flow_step_text div.long {
  width: 320px;
}

@media screen and (max-width: 818px) {
  .flow_step_text div.long {
    width: 65vw;
  }
}

.flow_step_text div h3 {
  text-align: right;
  font-size: 22px;
  font-family: vdl-logona, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 818px) {
  .flow_step_text div h3 {
    font-size: 5.8666666667vw;
  }
}

@media screen and (max-width: 818px) {
  .flow_step_text div h3 {
    text-align: left;
    font-size: 16px;
  }
}

@media screen and (max-width: 818px) and (max-width: 818px) {
  .flow_step_text div h3 {
    font-size: 4.2666666667vw;
  }
}

.flow_step_text div h3.reverse {
  text-align: left;
}

.flow_step_text div p {
  text-align: justify;
  font-size: 14px;
  line-height: 2;
}

@media screen and (max-width: 818px) {
  .flow_step_text div p {
    font-size: 3.7333333333vw;
  }
}

@media screen and (max-width: 818px) {
  .flow_step_text div p {
    font-size: 12px;
  }
}

@media screen and (max-width: 818px) and (max-width: 818px) {
  .flow_step_text div p {
    font-size: 3.2vw;
  }
}

.flow_step_image {
  padding-left: 57px;
}

@media screen and (max-width: 818px) {
  .flow_step_image {
    padding-left: 0;
  }
}

.flow_step_image.reverse {
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 57px;
}

@media screen and (max-width: 818px) {
  .flow_step_image.reverse {
    padding-right: 0;
  }
}

.flow_step_image img.first {
  width: 240px;
}

@media screen and (max-width: 818px) {
  .flow_step_image img.first {
    width: 48vw;
    margin-top: 3.975vw;
  }
}

.flow_step_image img.second {
  width: 275px;
}

@media screen and (max-width: 818px) {
  .flow_step_image img.second {
    width: 65vw;
    margin-top: 3.975vw;
  }
}

.flow_step_image img.third {
  width: 216px;
}

@media screen and (max-width: 818px) {
  .flow_step_image img.third {
    width: 48vw;
    margin-top: 5.3vw;
  }
}

.flow_step_image img.fourth {
  width: 220px;
}

@media screen and (max-width: 818px) {
  .flow_step_image img.fourth {
    width: 48vw;
    margin-top: 5.3vw;
  }
}

/* webp未対応ブラウザ用スタイル */
.faq {
  background-image: url(../img/bg_grid_pc.png), url(../img/bg_gradient_pc.png);
  background-repeat: repeat, repeat-y;
  background-size: 130px, 100%;
  padding: 150px 0;
}
/* webp対応ブラウザ用スタイル */
.faq .webp {
  background-image: url(../img/bg_grid_pc.webp), url(../img/bg_gradient_pc.webp);
  background-repeat: repeat, repeat-y;
  background-size: 130px, 100%;
  padding: 150px 0;
}

/* webp未対応ブラウザ用スタイル */
@media screen and (max-width: 818px) {
  .faq {
    background-image: url(../img/bg_grid_sp.png), url(../img/bg_gradient_sp.png);
    background-size: 18.6vw, 100%;
  }
}
/* webp対応ブラウザ用スタイル */
@media screen and (max-width: 818px) {
  .faq .webp {
    background-image: url(../img/bg_grid_sp.webp), url(../img/bg_gradient_sp.webp);
    background-size: 18.6vw, 100%;
  }
}

@media screen and (max-width: 818px) {
  .faq {
    padding: 18.67vw 5.3vw;
  }
}

.faq_inner {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

@media screen and (max-width: 818px) {
  .faq_inner {
    width: 100%;
  }
}

@media screen and (max-width: 818px) {
  .faq_inner {
    width: 100%;
  }
}

.faq_lists {
  margin-top: 80px;
  color: #fff;
}

@media screen and (max-width: 818px) {
  .faq_lists {
    margin-top: 10vw;
  }
}

.faq_lists>li:not(:first-of-type) {
  padding-top: 20px;
}

@media screen and (max-width: 818px) {
  .faq_lists>li:not(:first-of-type) {
    padding-top: 5.3vw;
  }
}

.faq_list {
  border: 1px solid #fff;
  display: block;
  padding: 20px;
}

@media screen and (max-width: 818px) {
  .faq_list {
    padding: 3.975vw 5.3vw;
  }
}

.faq_list .faq_list_title, .faq_list .faq_list_text {
  position: relative;
}

.faq_list .faq_list_title:before, .faq_list .faq_list_text:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #fff;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.faq_list_cap {
  font-family: vdl-logona, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  padding-right: 20px;
  display: block;
}

@media screen and (max-width: 818px) {
  .faq_list_cap {
    font-size: 5.3333333333vw;
  }
}

@media screen and (max-width: 818px) {
  .faq_list_cap {
    padding-right: 5.3vw;
  }
}

.faq_list_title {
  padding-left: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 818px) {
  .faq_list_title {
    font-size: 4.2666666667vw;
  }
}

@media screen and (max-width: 818px) {
  .faq_list_title {
    padding-left: 5.3vw;
  }
}

.faq_list_text {
  padding-left: 20px;
  font-size: 14px;
  line-height: 2.1428;
}

@media screen and (max-width: 818px) {
  .faq_list_text {
    font-size: 3.7333333333vw;
  }
}

@media screen and (max-width: 818px) {
  .faq_list_text {
    padding-left: 5.3vw;
  }
}

.faq_list_q {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq_list_wrapper {
  display: flex;
  align-items: center;
}

.faq_list_a {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 818px) {
  .faq_list_a {
    margin-top: 5.3vw;
  }
}

.faq_list_toggle {
  position: relative;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 818px) {
  .faq_list_toggle {
    width: 5.3vw;
    height: 5.3vw;
  }
}

.faq_list_toggle span {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.3s;
}

@media screen and (max-width: 818px) {
  .faq_list_toggle span {
    width: 5.3vw;
  }
}

.faq_list_toggle span:last-of-type {
  transition: all 0.3s;
  transform: rotate(90deg);
}

.faq_list_toggle span:last-of-type.open {
  transform: rotate(0);
  transition: all 0.3s;
}

.faq_list_toggleWrapper {
  overflow: hidden;
  transition: all 0.3s;
}

.fee {
  padding: 0 0 180px 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 960px;
}

@media screen and (max-width: 818px) {
  .fee {
    width: 100%;
  }
}

@media screen and (max-width: 818px) {
  .fee {
    padding: 18.67vw 5.3vw;
    width: 100%;
  }
}

.fee_lists {
  margin-top: 80px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 818px) {
  .fee_lists {
    display: block;
  }
}

@media screen and (max-width: 818px) {
  .fee_lists {
    margin-top: 10vw;
  }
}

.fee_list {
  width: 100%;
  border: 1px solid #092972;
  padding: 30px;
  text-align: center;
}

@media screen and (max-width: 818px) {
  .fee_list {
    padding: 5.3vw;
  }
}

.fee_list:first-of-type {
  border-right: none;
}

@media screen and (max-width: 818px) {
  .fee_list:first-of-type {
    border-right: 1px solid #092972;
  }
}

.fee_list:nth-of-type(2) {
  border-width: 3px;
}

@media screen and (max-width: 818px) {
  .fee_list:nth-of-type(2) {
    margin: 5.3vw 0;
  }
}

.fee_list:last-of-type {
  border-left: none;
}

@media screen and (max-width: 818px) {
  .fee_list:last-of-type {
    border-left: 1px solid #092972;
  }
}

.fee_list_title {
  line-height: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #092972;
  margin-bottom: 50px;
}

@media screen and (max-width: 818px) {
  .fee_list_title {
    line-height: 1.5;
    margin-bottom: 10vw;
  }
}

.fee_list_title.reco {
  border-bottom-width: 2px;
  margin-bottom: 70px;
}

@media screen and (max-width: 818px) {
  .fee_list_title.reco {
    margin-bottom: 12vw;
  }
}

.fee_list_price {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 50px;
}

@media screen and (max-width: 818px) {
  .fee_list_price {
    font-size: 10.6666666667vw;
  }
}

@media screen and (max-width: 818px) {
  .fee_list_price {
    margin-bottom: 10vw;
  }
}

.fee_list_price span {
  font-size: 25px;
  font-weight: normal;
}

@media screen and (max-width: 818px) {
  .fee_list_price span {
    font-size: 6.6666666667vw;
  }
}

.fee_list_price.reco {
  font-size: 50px;
  margin-bottom: 60px;
}

@media screen and (max-width: 818px) {
  .fee_list_price.reco {
    font-size: 13.3333333333vw;
  }
}

@media screen and (max-width: 818px) {
  .fee_list_price.reco {
    margin-bottom: 12vw;
  }
}

.fee_list_price.reco span {
  font-size: 35px;
}

@media screen and (max-width: 818px) {
  .fee_list_price.reco span {
    font-size: 9.3333333333vw;
  }
}

.fee_list_note {
  line-height: 2;
  margin-bottom: 50px;
}

@media screen and (max-width: 818px) {
  .fee_list_note {
    margin-bottom: 10vw;
  }
}

.fee_list_note.reco {
  margin-bottom: 60px;
}

@media screen and (max-width: 818px) {
  .fee_list_note.reco {
    margin-bottom: 12vw;
  }
}

.fee_list_note em {
  font-style: normal;
  font-weight: bold;
}

.fee_list_btn {
  width: 100%;
  display: block;
  padding: 10px 0;
  transition: all 0.3s;
}

@media screen and (max-width: 818px) {
  .fee_list_btn {
    padding: 2.65vw 0;
  }
}

.fee_list_btn:hover {
  transform: translateY(5%);
  transition: all 0.3s;
}

@media screen and (max-width: 818px) {
  .fee_list_btn:hover {
    transform: translateY(0);
  }
}

/*========修正=================*/

.fee {
  font-weight: bold;
}

@media screen and (max-width: 818px) {
  .fee {
    padding: 0 8vw;
  }
}

.fee_content {
  display: flex;
  margin-top: 50px;
}

@media screen and (max-width: 818px) {
  .fee_content {
    flex-direction: column;
    margin-top: 20vw;
  }
}

.fee_box {
  width: 25%;
}

@media screen and (max-width: 818px) {
  .fee_box {
    padding: 8vw 7vw;
    margin-bottom: 50px;
    width: 100%;
    border: 1px solid #092972;
  }
  .fee_box:last-child {
    margin-bottom: 20px;
  }
}

.fee_head, .fee_price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 818px) {
  .fee_head {
    padding-bottom: 2vw;
    border-bottom: 1px solid #092972;
    font-weight: normal;
    font-size: 6vw;
  }
}

.fee_head_sub {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-top: -7px;
}

@media screen and (max-width: 818px) {
  .fee_head_sub {
    font-size: 3.8vw;
    margin: -3.5vw 0 2vw 0;
  }
}

.fee_price {
  margin-bottom: 10px;
}

.fee_price span {
  font-size: 15px;
}

@media screen and (max-width: 818px) {
  .fee_price {
    padding: 3vw 0;
    margin-bottom: 0;
    font-size: 12vw;
  }
  .fee_price span {
    font-weight: normal;
    font-size: 7vw;
  }
}

.fee_cate01, .fee_cate02 {
  margin: 0 auto 10px;
  width: 70%;
  border-radius: 3px;
  text-align: center;
}

.fee_cate01 {
  display: none;
  padding: 1px 0;
  background: #711B9F;
  color: #fff;
  font-size: 15px;
  transition: 0.2s;
}

.fee_cate01:hover {
  opacity: 0.7;
}

.fee_cate01 a {
  display: block;
}

.fee_cate02 {
  padding: 2px 0;
  margin-top: 1px;
  background: #E0E0E0;
  font-size: 13px;
  color: #8E8E8E;
}

@media screen and (max-width: 818px) {
  .fee_cate01, .fee_cate02 {
    width: 100%;
    margin-bottom: 6vw;
  }
  .fee_cate01 {
    display: block;
    padding: 1vw 0;
    background: linear-gradient(to left, #7A129B, #2353B0);
    font-size: 5vw;
    font-weight: normal;
  }
  .fee_cate02 {
    padding: 3vw 0;
    font-size: 4vw;
  }
}

.fee_detail {
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  border-right: 1px solid #707070;
}

.fee_box:last-child .fee_detail {
  border-right: none;
}

@media screen and (max-width: 818px) {
  .fee_detail {
    border-right: none;
  }
}

.fee_item {
  padding-left: 60px;
  font-size: 16px;
  line-height: 2.4;
}

/* webp未対応ブラウザ用スタイル */
.check {
  background-image: url(../img/check.png);
  background-position: left 32px center;
}
/* webp対応ブラウザ用スタイル */
.check .webp {
  background-image: url(../img/check.webp);
  background-position: left 32px center;
}

.fee_item span {
  color: #C1C1C1;
}

@media screen and (max-width: 818px) {
  .fee_item {
    padding: 0;
    font-size: 4vw;
    line-height: 2;
    text-align: center;
  }
  .check {
    background-image: none;
  }
  .fee_item span {
    display: none;
  }
}

.fee_note {
  padding-left: 50px;
  margin-bottom: 40px;
  font-size: 12px;
  color: #8E8E8E;
  /*  line-height: 2;*/
}

.note_txt::before {
  content: "※";
}

@media screen and (max-width: 818px) {
  .fee_note {
    padding-left: 30px;
    line-height: 2;
  }

  .note_txt {
    text-indent: -2.5em;
  }
}

.paypal_wrap {
  margin: 0 auto 30px;
}

@media screen and (max-width: 818px) {
  .paypal_wrap {
    width: 60%;
    margin-bottom: 10vw;
  }
  .paypal_wrap img {
    width: 100%;
  }
}

.btn_join {
  display: block;
  position: relative;
  text-align: center;
}

.btn_join a {
  transition: 0.2s;
}

.btn_join a:hover {
  opacity: 0.7;
}

.btn_join source {
  width: 100%;
} 

.btn_join img {
  border-radius: 20px;
}

.join_txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  font-family: vdl-logona, sans-serif;
}

@media screen and (max-width: 818px) {
  .btn_join {
    width: 100%;
    margin-bottom: 20vw;
  }
  .join_txt {
    font-size: 4vw;
  }
  .btn_join img {
    width: 100%;
  border-radius: 12px;
  }
}

.contact {
  padding: 150px 0;
  margin-left: auto;
  margin-right: auto;
}

.contact_link {
  margin-top: 30px;
  text-align: center;
}

/* webp未対応ブラウザ用スタイル */
.contact_link a {
  font-size: 16px;
  color: #333333;
  padding-right: 25px;
  background-image: url(../img/logout.png);
  background-position: right center;
}
/* webp対応ブラウザ用スタイル */
.contact_link a .webp {
  font-size: 16px;
  color: #333333;
  padding-right: 25px;
  background-image: url(../img/logout.webp);
  background-position: right center;
}

.contact_link a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 818px) {
  .contact {
    padding: 15vw 8vw 15vw;
  }
  .contact .btn_join {
    margin-bottom: 0;
  }
  .contact_link {
    margin-top: 10px;
  }
  .contact_link a {
    padding-right: 4vw;
    font-size: 3vw;
    background-size: 3vw 3vw;
  }
}

/*========修正=================*/

/*
.contact {
  padding: 150px 0;
  margin-left: auto;
  margin-right: auto;
  width: 600px; }
  @media screen and (max-width: 818px) {
    .contact {
      width: 100%; } }
  @media screen and (max-width: 818px) {
    .contact {
      padding: 18.67vw 5.3vw;
      width: 100%; } }

.form {
  margin-top: 70px; }
  @media screen and (max-width: 818px) {
    .form {
      margin-top: 10vw; } }
  .form .form_block_textInput, .form .form_block_textAreaInput {
    display: block;
    width: 100%;
    border: 1px solid #092972;
    padding: 10px 20px;
    color: #092972; }
    @media screen and (max-width: 818px) {
      .form .form_block_textInput, .form .form_block_textAreaInput {
        padding: 2.65vw 3.5333333333vw;
        font-size: 14px;
        line-height: 1.6; } }
  @media screen and (max-width: 818px) and (max-width: 818px) {
    .form .form_block_textInput, .form .form_block_textAreaInput {
      font-size: 3.7333333333vw; } }

    .form .form_block_textInput::placeholder, .form .form_block_textAreaInput::placeholder {
      opacity: 0.2;
      color: #092972;
      line-height: 1.6875; }
  .form_warning {
    position: absolute;
    color: #fff;
    background-color: #e60000;
    font-size: 12px;
    font-weight: bold;
    bottom: -50px;
    z-index: 9999;
    padding: 2px 8px;
    opacity: 0; }
    @media screen and (max-width: 818px) {
      .form_warning {
        font-size: 3.2vw; } }
    @media screen and (max-width: 818px) {
      .form_warning {
        font-size: 10px;
        bottom: -10vw;
        padding: 0.267vw 1.335vw; } }
  @media screen and (max-width: 818px) and (max-width: 818px) {
    .form_warning {
      font-size: 2.6666666667vw; } }

    .form_warning:before {
      position: absolute;
      content: "";
      background-color: #e60000;
      width: 20px;
      height: 20px;
      left: 20px;
      z-index: -1;
      top: -5px;
      transform: rotate(45deg); }
      @media screen and (max-width: 818px) {
        .form_warning:before {
          width: 5.3vw;
          height: 5.3vw;
          left: 5.3vw;
          top: -1.335vw; } }
    .form_warning.show {
      transition: all 0.3s;
      opacity: 1; }
  .form_checkCont {
    font-size: 20px; }
    @media screen and (max-width: 818px) {
      .form_checkCont {
        font-size: 5.3333333333vw; } }
    @media screen and (max-width: 818px) {
      .form_checkCont {
        font-size: 18px; } }
  @media screen and (max-width: 818px) and (max-width: 818px) {
    .form_checkCont {
      font-size: 4.8vw; } }

  .form_submitArea {
    margin-top: 70px;
    font-weight: bold; }
    @media screen and (max-width: 818px) {
      .form_submitArea {
        margin-top: 10vw; } }
    .form_submitArea_info {
      border-top: 1px solid #092972;
      padding-top: 40px; }
      @media screen and (max-width: 818px) {
        .form_submitArea_info {
          padding-top: 5vw; } }
    .form_submitArea_btns {
      display: flex;
      justify-content: center;
      margin-top: 40px; }
      @media screen and (max-width: 818px) {
        .form_submitArea_btns {
          margin-top: 5vw;
          display: block; } }
    .form_submitArea_btn {
      display: block;
      width: 244px;
      transition: all 0.3s; }
      .form_submitArea_btn img {
        width: 100%; }
      @media screen and (max-width: 818px) {
        .form_submitArea_btn {
          width: 65vw;
          margin-left: auto;
          margin-right: auto; } }
      .form_submitArea_btn.disabled {
        filter: saturate(0);
        pointer-events: none;
        transition: all 0.3s;
        opacity: 0.2; }
      .form_submitArea_btn:hover {
        transition: all 0.3s;
        transform: translateY(5px); }
      .form_submitArea_btn:nth-of-type(2) {
        margin-right: 40px; }
        @media screen and (max-width: 818px) {
          .form_submitArea_btn:nth-of-type(2) {
            margin: 5vw auto 5.3vw; } }
  .form_block {
    position: relative; }
    .form_block:not(:first-of-type) {
      margin-top: 30px; }
      @media screen and (max-width: 818px) {
        .form_block:not(:first-of-type) {
          margin-top: 5.3vw; } }
    .form_block_label {
      display: block;
      font-size: 14px;
      font-weight: bold; }
      @media screen and (max-width: 818px) {
        .form_block_label {
          font-size: 3.7333333333vw; } }
      @media screen and (max-width: 818px) {
        .form_block_label {
          font-size: 12px; } }
  @media screen and (max-width: 818px) and (max-width: 818px) {
    .form_block_label {
      font-size: 3.2vw; } }

      .form_block_label span {
        color: #FF0000;
        margin-left: 2px;
        vertical-align: 2px; }
        @media screen and (max-width: 818px) {
          .form_block_label span {
            margin-left: 0.267vw;
            vertical-align: 0.267vw; } }
    .form_block_textAreaInput {
      height: 180px; }
      @media screen and (max-width: 818px) {
        .form_block_textAreaInput {
          height: 32vw; } }
    .form_block_radioWrapper {
      display: flex; }
      @media screen and (max-width: 818px) {
        .form_block_radioWrapper {
          display: block; } }
    .form_block_radioOption {
      margin-right: 40px; }
      @media screen and (max-width: 818px) {
        .form_block_radioOption {
          margin-right: 0; } }
      .form_block_radioOption label {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer; }
        .form_block_radioOption label:before, .form_block_radioOption label:after {
          content: ""; }
        .form_block_radioOption label:before {
          margin-right: 5px;
          width: 20px;
          height: 20px;
          border: 1px solid #092972;
          border-radius: 20px; }
          @media screen and (max-width: 818px) {
            .form_block_radioOption label:before {
              margin-right: 1.335vw;
              width: 5.3vw;
              height: 5.3vw;
              border-radius: 5.3vw; } }
        .form_block_radioOption label:after {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background-color: #092972;
          left: 5px;
          transition: all 0.1s;
          transform: scale(0);
          transform-origin: center center; }
          @media screen and (max-width: 818px) {
            .form_block_radioOption label:after {
              width: 2.65vw;
              height: 2.65vw;
              border-radius: 2.65vw;
              left: 1.325vw;
              top: 3.3125vw; } }
      .form_block_radioOption input {
        position: absolute;
        visibility: hidden; }
        .form_block_radioOption input:checked + label:after {
          transform: scale(1);
          transition: all 0.1s; }
*/

.footer_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer_info a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 818px) {
  .footer_info {
    flex-flow: column;
  }
}

.footer_info img {
  width: 150px;
  margin-right: 20px;
}

@media screen and (max-width: 818px) {
  .footer_info img {
    width: 40vw;
    margin-right: 0;
    margin-bottom: 2.65vw;
  }
}

.footer_info table {
  text-align: left;
}

.footer_info table th {
  font-size: 12px;
  padding-right: 20px;
  padding-bottom: 8px;
}

.footer_info a {
  font-size: 12px;
  padding-right: 20px;
  padding-bottom: 8px;
}

@media screen and (max-width: 818px) {
  .footer_info table th {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 818px) {
  .footer_info table th {
    padding-bottom: 2.136vw;
    padding-right: 5.3vw;
  }
}

.footer_info table td {
  position: relative;
  font-size: 16px;
  line-height: 1.3;
  padding-left: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 818px) {
  .footer_info table td {
    font-size: 4.2666666667vw;
  }
}

@media screen and (max-width: 818px) {
  .footer_info table td {
    padding-bottom: 2.67vw;
    padding-left: 5.3vw;
  }
}

.footer_info table td:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background-color: #092972;
  top: 0;
  left: 0;
}

.footer_copy {
  display: block;
  text-align: center;
  margin: 40px auto;
  font-size: 10px;
}

@media screen and (max-width: 818px) {
  .footer_copy {
    font-size: 2.6666666667vw;
  }
}

@media screen and (max-width: 818px) {
  .footer_copy {
    margin-top: 8vw;
    margin-bottom: 8vw;
  }
}

/*# sourceMappingURL=style.css.map */