@charset 'utf-8';
// 共通
@import "ress";
@import "variables";
@import "mixin";
@import "base";

.sp {
  @include pc {
    display: none !important;
  }
}

.pc {
  @include sp {
    display: none !important;
  }
}

.btn {
  @include gradientBgUI;
}

.headTitle {
  @include headFont;
  @include fs(30);
  text-align: center;

  @include sp {
    @include fs(22);
  }

  &-nega {
    color: #fff;
  }
}

.plainText {
  @include centering(600px);
  margin-top: 36px;
  text-align: justify;

  @include sp {
    margin-top: $pcBlockDist / 4;
    width: 100%;
  }

  &-nega {
    color: #fff;
  }
}

// ヘッダー
.header {
  @include absCenter(h);
  width: 100%;
  max-width: $pcWidth;
  @include flexCenter(v);
  justify-content: space-between;
  padding: $pcPdSmall 0 0 $pcPdSmall;
  z-index: 9999;

  @include sp {
    display: block;
    min-width: unset;
    padding: $spPd * 0.75;
    line-height: 0;
  }

  &_logo {
    display: block;
    @include fullImg(8.78vw);
    max-width: 120px;

    @include sp {
      @include fullImg(21.33vw);
    }
  }

  &_bars {
    position: absolute;
    @include wh(16vw, 13.33vw);
    top: 0;
    right: 0;
    @include flexCenter(c);
    flex-flow: column;
    z-index: 9999;

    span {
      display: block;
      @include wh(5.33vw, 1px);
      background-color: #fff;
      @include transition;
      @include absCenter(c);

      &:first-of-type {
        transform: translateY(-1.33vw);
      }

      &:last-of-type {
        transform: translateY(1.33vw);
      }

      &.show {
        @include transition;

        &:first-of-type {
          transform: translateY(0) rotate(45deg);
        }

        &:last-of-type {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }

  &_nav {
    display: flex;

    @include sp {
      display: block;
      width: 58.7vw;
      top: 0;
      right: -60vw;
      position: fixed;
      color: #fff;
      @include gradientBgUI;
      @include transition;

      &.show {
        right: 0;
        @include transition;
      }
    }

    li:not(:last-of-type) {
      border-right: 1px solid #fff;

      @include sp {
        border-right: none;
      }
    }

    &_list {
      display: block;
      padding: 0 $pcPdSmall;
      @include fs_lh(14, 1.5);

      @include sp {
        @include fs(12);
        padding: $spPd;
        position: relative;

        &.noBb {
          &:after {
            display: none;
          }
        }

        &:after {
          position: absolute;
          content: "";
          @include wh(5.87vw, 1px);
          background-color: #fff;
          left: $spDist;
          bottom: 0;
        }
      }

      color: #fff;
      @include transition;

      &:hover {
        @include transition;
        transform: translateY(5px);

        @include sp {
          transform: unset;
        }
      }
    }
  }
}

// MV
.mv {
  height: 60vw;
  max-height: 768px;
  @include gradientBg;

  @include sp {
    height: unset;
    max-height: unset;
    display: flex;
    flex-flow: column;
    padding: 13.6vw 0 7.2vw 1.3vw;
    align-items: center;
    overflow-x: hidden;
  }

  &_img {
    position: relative;

    img {
      @include absCenter(h);

      @include sp {
        position: relative;
      }
    }

    &_visual {
      width: 49.56vw;
      max-width: 677px;
      top: 123px;
      mix-blend-mode: screen;

      @include sp {
        @include wh(99vw, unset);
        max-width: 787px;
        top: 13.6vw;
        position: absolute !important;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    &_prof {
      width: 89.9vw;
      max-width: 1228px;
      top: 60px;

      @include sp {
        @include wh(95.2vw, unset);
        top: unset;
        max-width: unset;
        margin: unset;
      }
    }
  }
}

// CVBtn
.cvBtn {
  @include flexCenter(v);
  position: fixed;
  z-index: 9999;
  justify-content: space-between;
  width: 26.57vw;
  max-width: 363px;
  bottom: 0;
  right: 0;
  @include transition;

  img {
    width: 100%;
  }

  @include sp {
    @include wh(100%, 16vw);
    padding: 0 $spPd;
    max-width: unset;
  }

  &.isClicked {
    @include transition;
    bottom: -100px;

    @include sp {
      bottom: -17vw;
    }
  }

  &:hover {
    @include transition;
    transform: translateY(5px);

    @include sp {
      transform: unset;
    }
  }

  @include sp {
    & > img {
      width: 9vw;
    }

    span {
      @include headFont;
      color: #fff;
      @include fs(22);

      img {
        width: 9.3vw;
        margin-right: $spDist * 0.75;
      }
    }
  }
}

// Stanfitコミュニティとは
.intro {
  @include centering(100%);
  max-width: $contWidth;
  padding: 150px $pcPdSmall 336px;
  position: relative;

  @include sp {
    padding: $spPdBig $spPd;
    width: 100%;
  }

  &_title {
    text-align: left;

    @include sp {
      text-align: center;
    }
  }

  &_text {
    margin-left: 0;
  }

  &_image {
    position: absolute;
    width: 44.65vw;
    max-width: 610px;
    bottom: $pcBlockDist;
    right: 0;

    @include sp {
      position: relative;
      width: 100%;
      bottom: unset;
      margin-top: $pcBlockDist / 4;
    }
  }
}

// 4つの特徴
.feature {
  @include gradientBg;
  padding: $pcPd $pcPdSmall;

  @include sp {
    padding: $spPdBig $spPd;
  }

  &_inner {
    @include centering(100%);
    max-width: $contWidth;

    @include sp {
      width: 100%;
    }
  }

  &_lists {
    margin-top: $pcBlockDist;

    @include sp {
      margin-top: $spBlockDist;
    }
  }

  &_list {
    @include flexCenter(v);
    justify-content: space-between;

    @include sp {
      align-items: unset;
      flex-flow: column;
      justify-content: unset;
      width: 100%;
    }

    &.reverse {
      flex-direction: row-reverse;

      @include sp {
        flex-direction: unset;
        align-items: unset;
        flex-flow: column;
        justify-content: unset;
      }
    }

    &:not(:first-of-type) {
      margin-top: $pcBlockDist;

      @include sp {
        margin-top: $spBlockDist;
      }
    }

    &_text {
      width: 540px;
      color: #fff;
      display: flex;
      flex-flow: column;

      @include sp {
        width: 78vw;

        &.reverse {
          margin-right: 0;
          margin-left: auto;
        }
      }

      h2 {
        @include headFont;
        opacity: 0.1;
        @include fs_lh(120, 1);

        @include sp {
          @include fs(77);
          margin-left: -$spDist;
        }

        &.reverse {
          align-self: flex-end;

          @include sp {
            margin-left: unset;
            margin-right: -$spDist;
          }
        }
      }

      p {
        padding-left: 90px;
        margin-top: -40px;
        @include smallText;

        @include sp {
          margin-top: -$spDist;
          padding-left: 0;
        }

        &.reverse {
          align-self: flex-start;
          padding-left: 0;
          padding-right: 90px;

          @include sp {
            padding-right: 0;
          }
        }
      }
    }

    &_image {
      &.first {
        width: 350px;
        margin-left: $pcPdSmall;

        @include sp {
          align-self: flex-end;
          margin-top: $spDist / 2;
          margin-left: unset;
        }
      }

      &.second {
        width: 370px;
        margin-right: $pcPdSmall;

        @include sp {
          margin-top: $spDist;
          margin-right: unset;
        }
      }

      &.third {
        width: 367px;
        margin-left: $pcPdSmall;

        @include sp {
          align-self: flex-end;
          margin-top: $spDist;
          margin-left: unset;
        }
      }

      &.fourth {
        width: 348px;
        margin-right: $pcPdSmall;

        @include sp {
          margin-top: $spDist;
          margin-right: unset;
        }
      }

      @include sp {
        width: 64vw !important;
      }
    }
  }
}

// コミュニティの流れ
.flow {
  padding: $pcPd 0;
  @include centering(100%);
  max-width: $contWidth;

  text-align: center;

  @include sp {
    padding: $spPdBig $spPd;
    width: 100%;
    text-align: left;
  }

  &_thumb {
    @include centering(93px);

    @include sp {
      width: 14.4vw;
      margin-left: 7.2vw;
    }

    &.zero {
      width: 180px;
      margin-top: $pcBlockDist;

      @include sp {
        width: 28.8vw;
        margin-top: $spBlockDist * 0.8;
        margin-left: 0;
      }
    }
  }

  &_step {
    @include flexCenter(c);
    padding: 30px 0;
    position: relative;

    $baseWidth: 275px;
    $basePd: 57px;
    $baseWidthSp: 65vw;

    @include sp {
      padding: $spPd / 2 0 $spPd;
      display: block;
      width: $baseWidthSp;
      margin-left: auto;
      margin-right: 0;
    }

    &:before {
      @include absCenter(h);
      content: "";
      @include wh(0, 100%);
      border-left: 2px dashed $baseColor;

      @include sp {
        left: -10vw;
        right: unset;
        @include absCenter(v);
        border-left-width: 1px;
      }
    }

    &.reverse {
      flex-direction: row-reverse;
    }

    &_text,
    &_image {
      width: 50%;
      display: flex;

      @include sp {
        display: block;
      }
    }

    &_text {
      padding-right: $basePd;
      justify-content: flex-end;

      @include sp {
        padding-right: 0;
      }

      &.reverse {
        padding-right: 0;
        padding-left: $basePd;
        justify-content: flex-start;
        text-align: left;

        @include sp {
          padding-left: 0;
        }
      }

      div {
        width: $baseWidth;

        @include sp {
          width: $baseWidthSp;
        }

        &.long {
          width: 320px;

          @include sp {
            width: $baseWidthSp;
          }
        }

        h3 {
          text-align: right;
          @include fs(22);
          @include headFont;

          @include sp {
            text-align: left;
            @include fs(16);
          }

          &.reverse {
            text-align: left;
          }
        }

        p {
          text-align: justify;
          @include fs_lh(14, 2);

          @include sp {
            @include fs(12);
          }
        }
      }
    }

    &_image {
      padding-left: $basePd;

      @include sp {
        padding-left: 0;
      }

      &.reverse {
        justify-content: flex-end;
        padding-left: 0;
        padding-right: $basePd;

        @include sp {
          padding-right: 0;
        }
      }

      img {
        &.first {
          width: 240px;

          @include sp {
            width: 48vw;
            margin-top: $spPd * 0.75;
          }
        }

        &.second {
          width: $baseWidth;

          @include sp {
            width: $baseWidthSp;
            margin-top: $spPd * 0.75;
          }
        }

        &.third {
          width: 216px;

          @include sp {
            width: 48vw;
            margin-top: $spPd;
          }
        }

        &.fourth {
          width: 220px;

          @include sp {
            width: 48vw;
            margin-top: $spPd;
          }
        }
      }
    }
  }
}

// よくあるご質問
.faq {
  @include gradientBg;
  padding: $pcPd 0;

  @include sp {
    padding: $spPdBig $spPd;
  }

  &_inner {
    @include centering($blockWidth);

    @include sp {
      width: 100%;
    }
  }

  &_lists {
    margin-top: $pcBlockDist;
    color: #fff;

    @include sp {
      margin-top: $spBlockDist;
    }

    & > li {
      &:not(:first-of-type) {
        padding-top: $pcPdSmall;

        @include sp {
          padding-top: $spPd;
        }
      }
    }
  }

  &_list {
    border: 1px solid #fff;
    display: block;
    padding: $pcPdSmall;

    @include sp {
      padding: $spPd * 0.75 $spPd;
    }

    %border {
      position: relative;

      &:before {
        content: "";
        @include wh(1px, 100%);
        background-color: #fff;
        left: 0;
        @include absCenter(v);
      }
    }

    &_cap {
      @include headFont;
      @include fs_lh(20, 1);
      padding-right: $pcPdSmall;
      display: block;

      @include sp {
        padding-right: $spPd;
      }
    }

    &_title {
      padding-left: $pcPdSmall;
      font-weight: bold;
      @include fs_lh(16, 1.5);
      @extend %border;

      @include sp {
        padding-left: $spPd;
      }
    }

    &_text {
      @extend %border;
      padding-left: $pcPdSmall;
      @include smallText;

      @include sp {
        padding-left: $spPd;
      }
    }

    &_q {
      @include flexCenter(v);
      justify-content: space-between;
    }

    &_wrapper {
      @include flexCenter(v);
    }

    &_a {
      @include flexCenter(v);
      margin-top: $pcPdSmall;

      @include sp {
        margin-top: $spDist;
      }
    }

    &_toggle {
      position: relative;
      @include wh(20px, 20px);

      @include sp {
        @include wh($spDist, $spDist);
      }

      span {
        display: block;
        @include wh(20px, 1px);
        background-color: #fff;
        @include absCenter(c);
        @include transition;

        @include sp {
          width: $spDist;
        }

        &:last-of-type {
          @include transition;
          transform: rotate(90deg);

          &.open {
            transform: rotate(0);
            @include transition;
          }
        }
      }
    }

    &_toggleWrapper {
      overflow: hidden;
      @include transition;
    }
  }
}

// 料金表
.fee {
  padding: $pcPd $pcPdSmall 0;
  @include centering(100%);
  max-width: $contWidth;

  @include sp {
    padding: $spPdBig $spPd 0;
    width: 100%;
  }

  &_lists {
    margin-top: $pcBlockDist;
    display: flex;
    align-items: center;

    @include sp {
      display: block;
    }

    @include sp {
      margin-top: $spBlockDist;
    }
  }

  &_list {
    width: 100%;
    border: 1px solid $baseColor;
    padding: $pcPdSmall * 1.5;
    text-align: center;

    @include sp {
      padding: $spPd;
    }

    &:first-of-type {
      border-right: none;

      @include sp {
        border-right: 1px solid $baseColor;
      }
    }

    &:nth-of-type(2) {
      border-width: 3px;

      @include sp {
        margin: $spDist 0;
      }
    }

    &:last-of-type {
      border-left: none;

      @include sp {
        border-left: 1px solid $baseColor;
      }
    }

    &_title {
      line-height: 0;
      padding-bottom: $pcPdSmall * 1.5;
      border-bottom: 1px solid $baseColor;
      margin-bottom: 50px;

      @include sp {
        line-height: 1.5;
        margin-bottom: $spBlockDist;
      }

      &.reco {
        border-bottom-width: 2px;
        margin-bottom: 70px;

        @include sp {
          margin-bottom: $spBlockDist * 1.2;
        }
      }
    }

    &_price {
      @include fs_lh(40, 1.2);
      font-weight: bold;
      margin-bottom: 50px;

      @include sp {
        margin-bottom: $spBlockDist;
      }

      span {
        @include fs(25);
        font-weight: normal;
      }

      &.reco {
        @include fs(50);
        margin-bottom: 60px;

        @include sp {
          margin-bottom: $spBlockDist * 1.2;
        }

        span {
          @include fs(35);
        }
      }
    }

    &_note {
      line-height: 2;
      margin-bottom: 50px;

      @include sp {
        margin-bottom: $spBlockDist;
      }

      &.reco {
        margin-bottom: 60px;

        @include sp {
          margin-bottom: $spBlockDist * 1.2;
        }
      }

      em {
        font-style: normal;
        font-weight: bold;
      }
    }

    &_btn {
      width: 100%;
      display: block;
      padding: $pcPdSmall / 2 0;
      @include transition;

      @include sp {
        padding: $spPd / 2 0;
      }

      &:hover {
        transform: translateY(5%);
        @include transition;

        @include sp {
          transform: translateY(0);
        }
      }
    }
  }
}

// お問い合わせ
.contact {
  padding: $pcPd 0;
  @include centering($blockWidth);

  @include sp {
    padding: $spPdBig $spPd;
    width: 100%;
  }
}

.form {
  margin-top: 70px;

  @include sp {
    margin-top: $spBlockDist;
  }

  %textInput {
    display: block;
    width: 100%;
    border: 1px solid $baseColor;
    padding: $pcPdSmall / 2 $pcPdSmall;
    color: $baseColor;

    @include sp {
      padding: $spPd / 2 $spPd / 1.5;
      @include fs_lh(14, 1.6);
    }

    &::placeholder {
      opacity: 0.2;
      color: $baseColor;
      line-height: 1.6875;
    }
  }

  &_warning {
    position: absolute;
    @include colorSet(#fff, darken($warningColor, 5));
    @include fs(12);
    font-weight: bold;
    bottom: -50px;
    z-index: 9999;
    padding: 2px 8px;
    opacity: 0;

    @include sp {
      @include fs(10);
      bottom: -10vw;
      padding: $px $px * 5;
    }

    &:before {
      position: absolute;
      content: "";
      background-color: darken($warningColor, 5);
      @include wh(20px, 20px);
      left: 20px;
      z-index: -1;
      top: -5px;
      transform: rotate(45deg);

      @include sp {
        @include wh($spDist, $spDist);
        left: $spDist;
        top: -$px * 5;
      }
    }

    &.show {
      @include transition;
      opacity: 1;
    }
  }

  &_checkCont {
    @include fs(20);

    @include sp {
      @include fs(18);
    }
  }

  &_submitArea {
    margin-top: 70px;
    font-weight: bold;

    @include sp {
      margin-top: $spBlockDist;
    }

    &_info {
      border-top: 1px solid $baseColor;
      padding-top: 40px;

      @include sp {
        padding-top: $spBlockDist / 2;
      }
    }

    &_btns {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      @include sp {
        margin-top: $spBlockDist / 2;
        display: block;
      }
    }

    &_btn {
      display: block;
      @include fullImg(244px);
      @include transition;

      @include sp {
        width: 65vw;
        margin-left: auto;
        margin-right: auto;
      }

      &.disabled {
        filter: saturate(0);
        pointer-events: none;
        @include transition;
        opacity: 0.2;
      }

      &:hover {
        @include transition;
        transform: translateY(5px);
      }

      &:nth-of-type(2) {
        margin-right: 40px;

        @include sp {
          margin: $spBlockDist / 2 auto $spDist;
        }
      }
    }
  }

  &_block {
    position: relative;

    &:not(:first-of-type) {
      margin-top: 30px;

      @include sp {
        margin-top: $spDist;
      }
    }

    &_label {
      display: block;
      @include fs(14);
      font-weight: bold;

      @include sp {
        @include fs(12);
      }

      span {
        color: $warningColor;
        margin-left: 2px;
        vertical-align: 2px;

        @include sp {
          margin-left: $px;
          vertical-align: $px;
        }
      }
    }

    &_textInput,
    &_textAreaInput {
      @extend %textInput;
    }

    &_textAreaInput {
      height: 180px;

      @include sp {
        height: 32vw;
      }
    }

    &_radioWrapper {
      display: flex;

      @include sp {
        display: block;
      }
    }

    &_radioOption {
      margin-right: $pcBlockDist / 2;

      @include sp {
        margin-right: 0;
      }

      label {
        position: relative;
        @include flexCenter(v);
        cursor: pointer;

        &:before,
        &:after {
          content: "";
        }

        &:before {
          margin-right: 5px;
          @include wh(20px, 20px);
          border: 1px solid $baseColor;
          border-radius: 20px;

          @include sp {
            margin-right: $px * 5;
            @include wh($spDist, $spDist);
            border-radius: $spDist;
          }
        }

        &:after {
          position: absolute;
          @include wh(10px, 10px);
          border-radius: 10px;
          background-color: $baseColor;
          left: 5px;
          @include transition(all, 0.1s);
          transform: scale(0);
          transform-origin: center center;

          @include sp {
            @include wh($spDist / 2, $spDist / 2);
            border-radius: $spDist / 2;
            left: $spDist / 4;
            top: $spDist / 1.6;
          }
        }
      }

      input {
        position: absolute;
        visibility: hidden;

        &:checked + label {
          &:after {
            transform: scale(1);
            @include transition(all, 0.1s);
          }
        }
      }
    }
  }
}

// フッター
.footer {
  &_info {
    @include flexCenter(c);

    @include sp {
      flex-flow: column;
    }

    img {
      width: 150px;
      margin-right: $pcPdSmall;

      @include sp {
        width: 40vw;
        margin-right: 0;
        margin-bottom: $spDist / 2;
      }
    }

    table {
      text-align: left;

      th {
        @include fs(12);
        padding-right: $pcPdSmall;
        padding-bottom: 8px;

        @include sp {
          padding-bottom: $px * 8;
          padding-right: $spPd;
        }
      }

      td {
        position: relative;
        @include fs_lh(16, 1.3);
        padding-left: $pcPdSmall;
        padding-bottom: 10px;

        @include sp {
          padding-bottom: $px * 10;
          padding-left: $spPd;
        }

        &:before {
          position: absolute;
          content: "";
          @include wh(1px, 80%);
          background-color: $baseColor;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &_copy {
    display: block;
    text-align: center;
    margin: $pcBlockDist / 2 auto;
    @include fs(10);

    @include sp {
      margin-top: 8vw;
      margin-bottom: 8vw;
    }
  }
}
