.privacy_title {
    font-family: vdl-logona, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.privacy_wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    padding: 40px 20px 70px;
    position: relative;
}

h2 {
    position: relative;
    padding: 0.5em;
    background: #092972;
    color: white;
    margin-top: 40px;
}

h2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

@media screen and (max-width: 818px) {
    h2 {
        font-size: 18px;
    }
}

/* フッター */

.footer_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.footer_info a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 818px) {
    .footer_info {
        flex-flow: column;
    }
}

.footer_info img {
    width: 150px;
    margin-right: 20px;
}

@media screen and (max-width: 818px) {
    .footer_info img {
        width: 40vw;
        margin-right: 0;
        margin-bottom: 2.65vw;
    }
}

.footer_info table {
    text-align: left;
}

.footer_info table th {
    font-size: 12px;
    padding-right: 20px;
    padding-bottom: 8px;
}

.footer_info a {
    font-size: 12px;
    padding-right: 20px;
    padding-bottom: 8px;
}

@media screen and (max-width: 818px) {
    .footer_info table th {
        font-size: 3.2vw;
    }
}

@media screen and (max-width: 818px) {
    .footer_info table th {
        padding-bottom: 2.136vw;
        padding-right: 5.3vw;
    }
}

.footer_info table td {
    position: relative;
    font-size: 16px;
    line-height: 1.3;
    padding-left: 20px;
    padding-bottom: 10px;
}

@media screen and (max-width: 818px) {
    .footer_info table td {
        font-size: 4.2666666667vw;
    }
}

@media screen and (max-width: 818px) {
    .footer_info table td {
        padding-bottom: 2.67vw;
        padding-left: 5.3vw;
    }
}

.footer_info table td:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 80%;
    background-color: #092972;
    top: 0;
    left: 0;
}

.footer_copy {
    display: block;
    text-align: center;
    margin: 40px auto;
    font-size: 10px;
}

@media screen and (max-width: 818px) {
    .footer_copy {
        font-size: 2.6666666667vw;
    }
}

@media screen and (max-width: 818px) {
    .footer_copy {
        margin-top: 8vw;
        margin-bottom: 8vw;
    }
}